.singleArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: fit-content;
    background-color: #F7B787;
    border-color: black;
    border-style: solid;
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
}

.articleInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    height: fit-content;
    background-color: whitesmoke;
    border: black;
    border-style: solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;;
}

#commentCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 95%;
}

#commentAdderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;

}